<h2>訂單列表</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th> No. </th>
      <th> # </th>
      <th> Time </th>
      <th> User </th>
      <th> State </th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td> <%= render_order_link(order) %> </td>
      <td> <%= render_order_created_time(order) %> </td>
      <td> <%= render_order_user_name(order.user) %> </td>
      <td> <%= render_order_state(order) %> </td>
    </tr>
    <% end %>
  </tbody>

</table>