
<footer class="span8 mg-auto clearfix">
  <p class="text-center">Copyright ©2014 Artstore. All rights reserved. 
    <br>Design by <a href="http://sdlong.logdown.com" target=_new>sdlong</a>
  </p>
</footer>