// Place all the styles related to the admin::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin{
  a {
    margin: 10px 5px;
  }
  .buttonsGroup {
    background-color: #ccc;
    padding: 0 10px;
    margin: 5px 0 20px 0;
  }
}