defaults: &defaults
  app_name: "ArtStore"
    stripe:
      secret_key: 
      publishable_key: 
    mailgun:
      username: 
      password: 
development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
  