<div class="span12">    
    <div class="container">
      <% @products.each do |product| %>
      <div class="index-div">
        <p class="img-thumbnail">
          <%= image_tag product.image_url(:scale).to_s %>
        </p>   
        <p>
          <%= link_to(product.title, admin_product_path(product)) %>
        </p>
        <% if current_user.admin? %>
          <%= link_to("Edit", edit_admin_product_path(product), :class => "btn btn-xs btn-default") %>
          <%= link_to("Delete", admin_product_path(product), :method => :delete, :class => "btn btn-xs btn-primary", :confirm => "Are you sure?") %>
        <% end %>
      </div>
      <% end %>
    </div>
</div>