<div class='group'>
  <%= link_to("新增", new_admin_product_path) %>
  <ul>
    <% @products.each do |product| %>
      <li> <%= link_to(product.title, admin_product_path(product)) %></li>
    <% end %>
  </ul>
</div>
