<h2 class = "text-center"> 我的個人後台 </h2>
<h3 class = "text-center"> 我的產品 </h3>

<h4> 商品名稱 : <%= @product.title %></h4>
<h4> 商品介紹 : <%= @product.description %> </h4>
<h4> 商品圖片 : </h4>
<%= render_product_photo(@product.default_photo) %>
