@import "preview.scss";
@import "bootstrap-setting";
@import "twitter/bootstrap";
@import "bootstrap-override";
@import "twitter/bootstrap-responsive";
@import "susy";
@import "compass/css3";

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* -----SUSY setting----- */

$total-columns  : 12;
$column-width   : 60px;
$gutter-width   : 20px;
$grid-padding   : 10px;

  /*以上是用來規劃基本格線設定 */


$phone: 320px 6 480px;
$pad: 12 1024px;

/* ----- end SUSY setting ----- */


/* ----- color setting ----- */
	/* ----- 灰階設定 ----- */
	$black: #000000;
	$gray-9: #333333;
	$gray-8: #4D4D4D;
	$gray-7: #666666;
	$gray-6: #808080;
	$gray-5: #999999;
	$gray-4: #B3B3B3;
	$gray-3: #CCCCCC;
	$gray-2: #E6E6E6;
	$gray-1: #F2F2F2;
	$white: #ffffff;
/* ----- end color setting ----- */



/* ----- for index layout setting ----- */

aside {
		@include span-columns(3,12);

		.user_img {
			margin-right: 20px;
			float: left;
		}
		h4 {
			padding-top: 5px;
			line-height: 5px;
		}

		.link_class {
			margin-left: 20px;
		}
}

#content {
	@include span-columns(9 omega,12);
}

/* ----- end index layout setting ----- */


/* Layout */

.susy_container {
  @include container($total-columns, $pad, $phone);
  //@include susy-grid-background;  //if need watch grid

  @include at-breakpoint($pad){
  	margin-left: auto;
		margin-right: auto;
  }  
}

// 修改 Bootstap內建樣式，解決格式跑掉的問題 
@media (max-width: 320px) {
	body {
		padding-left: 0px;
		padding-right: 0px;
	}
	.navbar-fixed-top {
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media (max-width: 768px) {
	body {
		padding-left: 0px;
		padding-right: 0px;
	}
	.navbar-fixed-top {
		margin-left: 0px;
		margin-right: 0px;
	}
}
// end 修改 Bootstap內建樣式 




.wb {
	//word-block, 用法:<span class="wb">不要被斷行的文字</span>
	display: inline-block;
}

.clearfix {
	clear: both;
}

.mg-auto {
	margin-left: auto;
	margin-right: auto;
	float: none;
}


.form-signin {
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.nav-account {
	font-size: 18px;
}

.btn-edit {
	margin-right: 10px;
}

@media (max-width: 980px) {
    .nav-account {
    	float: none;
    	text-align: center;
    }
}

#login_page {
	margin-top: 40px;
	width: 250px;
}

footer{
	padding-top: 40px;
	padding-bottom: 40px;
}
	

/* End Layout */

