<div class="col-xs-6 col-md-3">

  <table class="table table-hover">
  <% @products.each do |product|%>
  <tr>
  <div class= "group">
  <td><%= link_to product.title, product_path(product) %></td>
  
  </div>
  </tr> 
  <% end %>
  </table>


</div>