  <div class="col-xs-6 col-md-3">

    <div class="group">
      <%= link_to product_path(product) do %>      
      <% end %>
    </div>
    <tr>
    <%= render_product_name(product) %>
    </tr>
    
    <tr> 
      <% product.photos.each do |photo| %>
      <%= image_tag photo.image_url%>
      <% end %> 
    </tr>

  </div>