<h2>
  <%= @product.title %>
</h2>

<h3>產品描述</h3>
<p>
  <%= @product.description %>
</p>

<h3>剩餘數量</h3>
<p>
  尚有 <span><%= @product.quantity %></span> 件商品
</p>
<%= image_tag @product.photos.first.image_url(:thumb) %>