 <div class="row">
   <div class="col-md-5">
     
   </div>
 
   <div class="col-md-7">
     <h2></h2>

     <div style="height:100px;">
       <p>

        
       </p>


     </div>
     <div> 數量 : </div>
     <div class="product-price"> </div>

     <div class="pull-right">
      <%= link_to("加入購物車", "#", :class => "btn btn-primary btn-lg btn-danger") %>
     </div>
    </div>

</div>
