<footer class="footer text-center" style="background-color:#fefffe; min-height:100px">
<hr/>
<div class="col-md-6 text-right">
	<p class="glyphicon glyphicon-heart" style="font-size:5em;color:#E53638"></p>
</div>
<div class="col-md-6 text-left">
	<h4>Artstore</h4>
	<p><small><code> Build with Love of Ruby on Rails </code></small><p>
</div>
</footer>
