<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to '管理帳號', edit_user_registration_path %></li>
  <li><%= link_to '登出', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to '登入', new_user_session_path %></li>
  <li><%= link_to '註冊新帳號', new_user_registration_path %></li>
<% end %>
