<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%#= link_to(Setting.app_name, "/" , :class => "navbar-brand" )%>   
    </div>
    <div class="navbar-collapse collapse">
      <%#= render_list :class => "nav navbar-nav" do |li|
        #li << link_to("首頁","/")
        #li << link_to("二手嬰兒用品交流團","/homes/index_products")
        end %>

        <%#= render :partial => "common/search_form" %>
<!--         <li class="nav navbar-nav">
          <div class="social"> 
            <%#= fb_like(Setting.domain) %>
          </div>
        </li> -->
        <%= render :partial => "common/user_nav"%>
      </div><!--/.nav-collapse -->
    </div>

    <%= yield :submenu %>

  </div>