$(document).on('ready page:load', function(){

	var tmpl = '<div class="input file optional photo_image form-group"><label class="file optional" for="photo_image">上傳圖片</label><input class="file optional form-control" id="photo_image" name="photo[image]" type="file"></div><label class="file optional" for="photo_image">上傳圖片</label><input class="file optional form-control" id="photo_image" name="photo[image]" type="file"></div>'

	$(".item:first-child").addClass("active");


});