<!DOCTYPE html>
<html>
<head>
  <%= render 'common/head' %>
</head>
<body>

<%= render :partial => "common/menu" %>
<%= notice_message %>
<!--%= render_login_logout_button %-->

<%= yield %>

</body>
</html>
